# Ejecutables
*.exe
*.dll
*.bpl

# Compilados Delphi
*.dcu
*.dcp

# Archivos temporales del IDE
*.identcache
*.local
*.stat

# Directorios de compilación
/Win32/Debug/
/Win32/Release/
/Win64/Debug/
/Win64/Release/
Tabla IB/
Debug/
Release/
Papelera/
Descargas/
FEAFIP V4/
FEAFIP V5/
HistoralConsultaCajas/

# Historial del IDE
/__history/
/__recovery/

# Archivos de backup
*.~*

# Delphi outputs
*.exe
*.dll
*.bpl
*.dcu
*.dcp
*.map
*.drc

# Firebird databases (NO subir)
*.fdb
*.fbk
